<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vukoa模板</title>
<link href="/public/bundle.css?d91d9943044a5191af40" rel="stylesheet"></head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
<script type="text/javascript" src="/public/vendor.js?d91d9943044a5191af40"></script><script type="text/javascript" src="/public/bundle.js?d91d9943044a5191af40"></script></body>
</html>